@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 156 71% 92%;
    --foreground: 168 30% 25%;
    --card: 156 71% 98%;
    --card-foreground: 168 30% 25%;
    --popover: 156 71% 98%;
    --popover-foreground: 168 30% 25%;
    --primary: 168 50% 65%;
    --primary-foreground: 168 50% 10%;
    --secondary: 156 60% 88%;
    --secondary-foreground: 168 30% 25%;
    --muted: 156 50% 90%;
    --muted-foreground: 168 25% 55%;
    --accent: 141 44% 80%;
    --accent-foreground: 141 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 30% 80%;
    --input: 168 30% 88%;
    --ring: 168 50% 65%;
    --radius: 0.8rem;
    --chart-1: 168 50% 65%;
    --chart-2: 141 44% 80%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 168 15% 10%;
    --foreground: 156 71% 92%;
    --card: 168 15% 12%;
    --card-foreground: 156 71% 92%;
    --popover: 168 15% 10%;
    --popover-foreground: 156 71% 92%;
    --primary: 168 50% 65%;
    --primary-foreground: 168 50% 10%;
    --secondary: 168 15% 18%;
    --secondary-foreground: 156 71% 92%;
    --muted: 168 15% 18%;
    --muted-foreground: 156 50% 70%;
    --accent: 141 44% 30%;
    --accent-foreground: 141 44% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 168 15% 20%;
    --input: 168 15% 20%;
    --ring: 168 50% 65%;
    --chart-1: 168 50% 65%;
    --chart-2: 141 44% 80%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
